.sw-btn-margin {
	margin-lefT:20px;
}

.mybutton Button{
	
 position: relative;
  padding: 3px 12px;
   ${ t:borderRadius('0') };
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  min-height: 0;
  color: #000 !important;  
   ${ t:applyCSS3('transition', 'all ease 0.15s 0') };
 
}


.z-listitem>.z-listcell>.z-listcell-content {
color: #000000;
}

.z-listitem:hover>.z-listcell>.z-listcell-content {
color: #636363;
}

.z-window-close {
	display: none;
}